/* COLOR PALETTE  */
:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* delete default margins */
body, h1, h2, h3, p {
    margin: 0;
}

/* inherit font */
input, button {
    font: inherit;
}

/* body defaults */
body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
}

article {
    margin: 4rem 2rem;
    border-radius: .5rem;
    overflow: hidden;
    max-width: 40rem;
}

section {
    padding: 1.5rem;
}

.join {
    background-color: white;
}

.join h2 {
    color: var(--cyan);
    font-size: 1.2rem;
}

.join p:nth-of-type(1) {
    color: var(--bright-yellow);
    font-weight: 700;
    margin: 1.2rem 0;
}

.join p:nth-of-type(2) {
    color: var(--grayish-blue);
    font-size: .85rem;
    line-height: 1.5rem;
}

.signup {
    background-color: var(--cyan);
    color: white;
}

.signup h2 {
    font-size: 1.2rem;
}

.price {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.price p:nth-of-type(1) {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.price p:nth-of-type(2) {
    color: var(--light-gray);
    margin: 1rem .5rem;
}

.signup button {
    width: 100%;
    border: none;
    border-radius: .25rem;
    padding: .8rem;
    color: white;
    background-color: var(--bright-yellow);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
}

.signup button:hover {
    cursor: pointer;
}

.why {
    background-color: hsl(179, 62%, 43%, 0.7);
    color: white;
}

.why h2 {
    font-size: 1.2rem;
}

ul {
    padding: 0;
    list-style: none;
    font-size: .85rem;
    line-height: 1.4rem;
    margin-bottom: 0;
}

/* .attribution */
footer {
    margin: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--grayish-blue);
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* DESKTOP */
@media (min-width: 56.2rem) {

    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        margin: auto;
        /* max-height: 40rem; */
    }

    section {
        padding: 2.5rem;
    }

    .join {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .join h2 {
        font-size: 1.5rem;
    }
    
    .join p:nth-of-type(1) {
        font-size: 1.1rem;
    }
    
    .join p:nth-of-type(2) {
        font-size: 1rem;
    }

    .signup {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .signup button {
        margin-top: 2.5rem;
    }

    .price {
        margin-bottom: .3rem;
    }

    .why {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    footer {
        margin: 0;
        position: absolute;
        top: 95%;
        width: 100%;
        text-align: center;
    }
}
